{#- vim: ft=jinja #}

{#-
    Convenience: Make relative paths absolute.
-#}

{%- set base_path = mapdata.lookup.paths.base %}
{%- for path, val in mapdata.lookup.paths.items() %}
  {%- if val and val is string and not val.startswith("/") %}
    {%- do mapdata.lookup.paths.update({path: base_path | path_join(val)}) %}
  {%- endif %}
{%- endfor %}

{%- if not mapdata.lookup.user.home %}
  {%- do mapdata.lookup.user.update({"home": base_path}) %}
{%- endif %}


{#-
    Convenience: Make sure config is correct for storage type.
-#}

{%- if "file" != mapdata.config.storage.type %}
  {%- do mapdata.config.storage.update({
          "host": mapdata.config.storage.type,
          "port": mapdata.lookup.containers[mapdata.config.storage.type].port,
  }) %}
{%- else %}
  {%- do mapdata.config.storage.update({"filepath": "/data"}) %}
{%- endif %}
